- if Spree::Post.all.any?
  .news-ticker
    #news-container
      %ul
        - Spree::Post.published.each do |post|
          %li
            %div
              = post.rendered_desc

:javascript
  $(function(){
    $('#news-container').vTicker({
      speed: 1000,
      pause: 4000,
      animation: 'fade',
      mousePause: true,
      showItems: 1
    });
  });
